fastapi
pydantic-settings
uvicorn[standard]
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
APScheduler
python-multipart
pypdf
python-pptx
python-docx
pandas
openpyxl
olefile
xlrd
faster-whisper
huggingface_hub
pystray
pillow
